<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>영상</title>
</head>
<body>
  <section>
    <header>
      <center>
        <a href="/">
          <img src="http://192.168.0.79:8888/api/member/img/%EC%BF%A8%ED%94%BC%EC%8A%A41680656097581.png" width="150" height="200" alt="쿨피스">
        </a>
      </center>
    </header>
  </section>
  <h1>자료실</h1>
  <table border="1">
    <tr>
    <th>달리기</th>
      <td>
        <a href="http://192.168.0.79:8888/api/download/video/notice/notice_1679904330142.mp4"> 달리기.mp4
      </td>
    </tr>
    <tr>
      <th>오래달리기</th>
        <td>
          <a href="http://192.168.0.79:8888/api/download/video/notice/notice_1679904330142.mp4"> 오래달리기.mp4
        </td>
      </tr>
  </table>
</body>
<style>
        @font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
  h1{text-align: center; font-family:'IM_Hyemin-Bold';}
  table{border-collapse: collapse; width: 1200px; margin: 10px auto; background-color: #fff;
    font-family: 'IM_Hyemin-Bold';
    font-size: 25px;}
</style>
</html>